<!DOCTYPE html>
<html>
  <head>
    <title>Dog Breeds</title>
  </head>
  <body>
    <h1>All Dog Breeds</h1>
    <ul>
      {{#each breeds}}
      <li>{{this.name}}</li>
      <img src="{{image}}" alt="{{name}} Image">
      {{/each}}
    </ul>
  </body>
</html>
