<body id="indexDiv">
    

<div >

<h1 id="titleIndex">Welcome to PawPal</h1>
<h1 id="pawPalbody">PawPal</h1>
<p id="pawPalText">You are at the place,<br> if you are looking for  <strong>Dog</strong> info! <br>
We can help you find the perfect breed for you</p>
<div id="indexButton" >
<a class="indexButtonItem" href="/auth/signup">Signup</a>
<a class="indexButtonItem" href="/auth/login">Login</a>
</div>

</div>

</body>